<h3>Contact Form</h3>

<% form_for(:contact, @contact, :url => {:action => 'create'}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %> (required)<br />
    <%= f.text_field :name, :value => @contact.name || 'Your Name...',
      :onfocus => "this.value=(this.value=='Your Name...') ? '' : this.value;",
      :onblur => "this.value=(this.value=='') ? 'Your Name...' : this.value;",
      :tabindex => '1' %>
  </p>
  <p>
    <%= f.label :email %> (required)<br />
    <%= f.text_field :email, :value => @contact.email || 'Your Email...',
      :onfocus => "this.value=(this.value=='Your Email...') ? '' : this.value;",
      :onblur => "this.value=(this.value=='') ? 'Your Email...' : this.value;",
      :tabindex => '2' %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url, :value => @contact.url || 'Your Website...',
      :onfocus => "this.value=(this.value=='Your Website...') ? '' : this.value;",
      :onblur => "this.value=(this.value=='') ? 'Your Website...' : this.value;",
      :tabindex => '3' %>
  </p>
  <p>
    <%= f.label :subject %><br />
    <%= f.text_field :subject, :value => @contact.subject || 'Message Subject...',
      :onfocus => "this.value=(this.value=='Message Subject...') ? '' : this.value;",
      :onblur => "this.value=(this.value=='') ? 'Message Subject...' : this.value;",
      :tabindex => '4' %>
  </p>
  <p>
    <%= f.label :message %> (required)<br />
    <%= f.text_area :message, :value => @contact.message || 'Your Message...',
      :onfocus => "this.value=(this.value=='Your Message...') ? '' : this.value;",
      :onblur => "this.value=(this.value=='') ? 'Your Message...' : this.value;",
      :size => '20x10', :tabindex => '5' %>
  </p>
  <div id="recaptcha" style="margin-top:10px" align="center">
  <%# :theme => red, white, blackglass, clean, custom %>
    <%= recaptcha_tags :display => {:theme => 'blackglass', :tabindex => '6'} %>
  </div>
  <p class="no-border">
    <%= f.submit 'Submit', :class => 'button', :tabindex => '7' %>
  </p>
<% end %>