<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Daniel González</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta name="keywords" content="daniel gonzalez, venezuela, web developer, freelancer, j2ee, ruby on rails, ruby, php, mysql, oracle, software developer, database administrator, database desingner, blog, portfolio" />
    <meta name="description" content="personal freelancer web developer portfolio and blog website" />
    <meta name="author" content="Daniel González" />
    <%= stylesheet_link_tag 'screen' %>
    <%= javascript_include_tag :all %>
    <%= auto_discovery_link_tag(:rss, {:controller => 'posts', :action=> 'index', :format => 'rss'}, {:title => 'RSS Feeds'}) %>
  </head>
  <body>

    <!-- header starts-->
    <div id="header-wrap"><div id="header" class="container_16">

        <h1 id="logo-text"><%= link_to 'Daniel González', root_path %></h1>
        <p id="intro">Freelance web developer...</p>

        <!-- navigation -->
        <div id="nav">
          <ul>
            <li<%= ' id="current"' if controller.controller_name == 'home' %>>
              <%= link_to('Home', root_path) %>
            </li>
            <li<%= ' id="current"' if controller.controller_name == 'posts' %>>
              <%= link_to('Blog', posts_path) %>
            </li>
            <li<%= ' id="current"' if controller.controller_name == 'projects' %>>
              <%= link_to('Portfolio', portfolio_path) %>
            </li>
            <li<%= ' id="current"' if controller.controller_name == 'contacts' %>>
              <%= link_to('Contact', contact_path) %>
            </li>
          </ul>
        </div>

        <div id="header-image"></div>

        <form action="http://www.google.com/cse" id="cse-search-box">
          <div>
            <input type="hidden" name="cx" value="000220205247216395737:9z_0-tsdijw" />
            <input type="hidden" name="ie" value="UTF-8" />
            <input class="tbox" id="qsearch" type="text" name="q" />
            <input class="btn" alt="Search" type="image" name="sa" title="Search" src="/images/search.gif" />
          </div>
        </form>

        <script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box"></script>

        <!-- header ends here -->
      </div></div>

    <!-- content starts -->
    <div id="content-outer"><div id="content-wrapper" class="container_16">

        <!-- main -->
        <div id="main" class="grid_8">

          <p style="color: green"><%= flash[:notice] %></p>
          <%= yield %>

          <!-- main ends -->
        </div>

        <!-- left-columns starts -->
        <div id="left-columns" class="grid_8">

          <div class="grid_4 alpha">

            <div class="sidemenu">
              <h3>Sidebar Menu</h3>
              <ul>
                <li><%= link_to('Home', root_path) %></li>
                <li><%= link_to('Blog', posts_path) %></li>
                <li><%= link_to('Portfolio', portfolio_path) %></li>
                <li><%= link_to('Contact', contact_path) %></li>
              </ul>
            </div>

            <div class="sidemenu">
              <h3>Links</h3>
              <ul>
                <li><a href="http://www.PDPhoto.org/">PDPhoto</a></li>
                <li><a href="http://www.alistapart.com">Alistapart</a></li>
                <li><a href="http://960.gs/">960 Grid System</a></li>
                <li><a href="http://www.freephotos.se/">FreePhotos.se</a></li>
                <li><a href="http://www.sisvox.com/">SISVOX</a></li>
              </ul>
            </div>

          </div>

          <div class="grid_4 omega">

            <div class="sidemenu">
              <h3>Sponsors</h3>
              <ul>
                <li><a href="http://themeforest.net?ref=ealigam">ThemeForest <br /><span>Your Choice for Site Templates, Wordpress, Joomla and CMS Themes</span></a></li>
                <li><a href="http://www.4templates.com/?aff=ealigam">4templates <br /><span>Low Cost Hi-Quality Templates</span></a></li>
                <li><a href="http://store.templatemonster.com?aff=ealigam">TemplateMonster <br /><span>Delivering the Best Templates on the Net!</span></a></li>
                <li><a href="http://tinyurl.com/3cgv2m">Text Link Ads <br /><span>Monetized your website</span></a></li>
                <li><a href="http://www.fotolia.com/partner/114283">Fotolia <br /><span>Free stock images or from $1</span></a></li>
                <li><a href="http://www.dreamhost.com/r.cgi?287326">Dreamhost <br /><span>Premium webhosting</span></a></li>
              </ul>
            </div>

          </div>

          <!-- end left-columns -->
        </div>

        <!-- contents end here -->
      </div></div>

    <!-- footer starts here -->
    <div id="footer-wrapper" class="container_16">

      <div id="footer-content">

        <div class="grid_8">

          <h3>Direct Contact</h3>
          <p>
            Location: Caracas - Venezuela<br />
            Email: <%= mail_to('contact@danielgonzalez.com.ve') %><br />
            Cell-phone: +58 412 330 6853
          </p>

          <h3>Support Styleshout</h3>
          <p>
            If you are interested in supporting <%= link_to "styleshout.com", 'http://www.styleshout.com/' %>'s
            work and would like to contribute, you are welcome to make a small donation
            through the donate link on the <%= link_to "site", 'http://www.styleshout.com/' %>
            - it will be a great help and will surely be appreciated.
          </p>

          <ul class="footer-list">
            <li><a href="http://www.cssmania.com/">CSSMania - <span>CSS Design Showcase</span></a></li>
            <li><a href="http://www.alistapart.com/">AListApart - <span>For People Who Make Websites</span></a></li>
            <li><a href="http://www.psdtuts.com/">PSDTuts.com - <span>Photoshop Tutorials And Links</span></a></li>
            <li><a href="http://www.pdphoto.org/">PDPhoto.org - <span>Public Domain Photos</span></a></li>
            <li><a href="http://www.freephotos.se/">FreePhotos.se - <span>Free &amp; Public Domain Photos</span></a></li>
            <li><a href="http://www.fotolia.com/partner/114283">Fotolia - <span>Free stock images or from $1</span></a></li>
          </ul>

        </div>

        <div class="grid_8">

          <h3>Things I use/like</h3>
          <p class="thumbs">
            <%= link_to(image_tag('rails.jpg', :size => '40x40', :alt => 'thumbnail'), 'http://rubyonrails.org') %>
            <%= link_to(image_tag('java.jpg', :size => '40x40', :alt => 'thumbnail'), 'http://java.sun.com') %>
            <%= link_to(image_tag('php.jpg', :size => '40x40', :alt => 'thumbnail'), 'http://php.net') %>
            <%= link_to(image_tag('mysql.jpg', :size => '40x40', :alt => 'thumbnail'), 'http://www.mysql.com') %>
            <%= link_to(image_tag('oracle.jpg', :size => '40x40', :alt => 'thumbnail'), 'http://www.oracle.com') %>
            <%= link_to(image_tag('jquery.jpg', :size => '40x40', :alt => 'thumbnail'), 'http://jquery.com') %>
            <%= link_to(image_tag('w3c.jpg', :size => '40x40', :alt => 'thumbnail'), 'http://www.w3.org') %>
            <%= link_to(image_tag('firefox.jpg', :size => '40x40', :alt => 'thumbnail'), 'http://www.firefox.com') %>
            <%= link_to(image_tag('windows.jpg', :size => '40x40', :alt => 'thumbnail'), 'http://www.microsoft.com/windows/') %>
            <%= link_to(image_tag('linux.jpg', :size => '40x40', :alt => 'thumbnail'), 'http://www.linux.com/') %>
            <%= link_to(image_tag('mac.jpg', :size => '40x40', :alt => 'thumbnail'), 'http://www.apple.com') %>
            <%= link_to(image_tag('rfid.jpg', :size => '40x40', :alt => 'thumbnail'), 'http://rubyforge.org/projects/rfid4r/') %>
          </p>

          <h3>About me</h3>
          <p>
            <span class="thumbs"><%= link_to(image_tag('coliseo.jpg', :class => 'float-left', :size => '40'), root_path) %></span>
            I'm a web developer based in Venezuela. I consider myself critical,
            reflexive and methodical on resolving various computer scenarios; innovative
            as seeking for new alternatives; honest and ethical professional perform;
            responsible and methodical at doing tasks; communicative and participative
            leadership, in order to facilitate the use of information and communication
            technologies; formal, systematic and precise at developing tasks; dedicated
            to the critic knowledge of the technological advances and permanently
            updates. <%= link_to_function 'Read more...', "$('profile').appear();" %>
          </p>
          <div id="profile" style="display:none">
            <h3>Profile &amp; Overall Experience</h3>
            <p>
              I have experience in Linux and Windows environments, virtualization
              tools, configuring production, development and testing web environments.
              Capacity to write scripts for systems automation; basic knowledge
              of TCP/IP networking, load balancers, IDSs, and firewalls; experience
              working with system and network monitoring tools: <i>Syslogd</i>,
              <i>Firestarter/iptables</i>, <i>Ettercap</i>, <i>Wireshark</i>, and
              so on; experience with <i>MySQL</i> and <i>Oracle</i> database tools
              for design, development and administration; general working knowledge
              of <i>PL/SQL</i>. <%= link_to_function 'Read less...', "$('profile').fade();" %>
            </p>
          </div>

        </div>

      </div>

      <div id="footer-bottom">

        <p class="bottom-left">
          <%= link_to 'www.danielgonzalez.com.ve', 'http://www.danielgonzalez.com.ve' %> &copy; 2009 |
          Design by : <%= link_to 'styleshout', 'http://www.styleshout.com/' %>
        </p>

        <p class="bottom-right" >
          <%= link_to 'Home', root_path %> |
          <%= link_to 'RSS Feeds', posts_path(:format => 'rss') %> |
          <%= link_to 'CSS', 'http://jigsaw.w3.org/css-validator/check/referer' %> |
          <%= link_to 'xHTML', 'http://validator.w3.org/check/referer' %>
        </p>

      </div>

    </div>
    <!-- footer ends here -->

    <%= javascript_tag "$('qsearch').style.border = 'none';
$('qsearch').style.padding = '5px';
$('qsearch').style.color = '#bababa';
$('qsearch').style.background = 'transparent';
$('qsearch').focus();
$('qsearch').blur();" %>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-6566238-2");
        pageTracker._trackPageview();
      } catch(err) {}
    </script>
  </body>
</html>